.player-container {
  display: flex;
  flex-direction: column;
  border: 4px solid #008b5e;
  border-radius: 32px;
  margin: 8px;
  background-color: #282c34;
  width: 500px;
}
.player-title {
  text-align: center;
  color: goldenrod;
}
.rotateElement--right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotateElement--left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
