.board {
	height: 100%;
	background-color: #282c34;
  display: flex;
  flex-direction: column;
}

.board-table{
	background-color: #b21414d6;;
	height: 80%;
}

.board-header{
	height: 20%;
}

.players-board{
	height: 400px;
	flex-direction: row;
	display: flex;
  justify-content: space-around;
}    
.players-board-title{
	text-align: center;
}

.player-container{
	display: flex;
    flex-direction: column;
}