.player{
	flex-direction: column;
    display: flex;
    align-items: center;
}

.counter{
	flex-direction: row;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.key{
	height: 40px;
	display: flex;
}

.family{
	height: 160px;
	display: flex;
}

.image{

}

.keys-container{
	display: flex;
}